run-with-tmp-session-bus.conf
test/data
ChangeLog
*.pyc
*.pyo
.*.sw?
configure
config.h.in*
autom4te.cache
aclocal.m4
Makefile.in
autotools/compile
autotools/config.guess
autotools/config.sub
autotools/depcomp
autotools/install-sh
autotools/missing
autotools/py-compile
autotools/ltmain.sh
api
test-service.log
.deps
.libs
*.la
*.lo
config.cache
config.h
config.log
config.status
dbus-python.pc
dbus/_version.py
libtool
stamp-h1
test/TestSuitePythonService.service
test/tmp-session-bus.conf
Makefile
