include API_CHANGES.txt
include AUTHORS
include COPYING
include ChangeLog
include HACKING.txt
include MANIFEST.in
include NEWS
include TODO
recursive-include _dbus_bindings *.h *.c
include _dbus_glib_bindings/module.c
recursive-include dbus *.py
include include/dbus_bindings.h
include setup.py
recursive-include test *.py *.sh
recursive-include tools *.sh *.conf 
